.choose-label{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    font-family: 'MAGIC', serif;
}

.deck-list{
    margin-left: auto;
    margin-right: auto;
    width: 46%;
}

.deck-builder-transition{
    margin-top: 1000px;
    opacity: 0;
    transition: all 1000ms cubic-bezier(0.680, -0.550, 0.265, 1.550); /* easeInOutBack */
}

.deck-builder-in{
    margin-top: inherit;
    opacity: 1;
}

.deck-name{
    margin-left: 60px;
    margin-top: 20px;
    font-family: 'MAGIC', serif;
    font-style: italic;
    width: 70px;
}

.deck{
    border: 1px solid black;
}

.deck-selected{
    border: 3px solid green;
    animation-duration: 0.5s;
    animation-name: deckSizeBounce;
    animation-iteration-count: 1;
    animation-direction: reverse;
}

.card-list{
    overflow: scroll;
    max-height: 300px;
    border: 2px solid green;
    border-radius: 8px;
    transition: height 500ms;
}

@keyframes cardFlip {
    from {
        transform: rotateY(180deg);
    }

    to {
        transform: rotateY(0deg);
    }
}

@keyframes deckSizeBounce {
    from {
        width: 145px;
        height: 201px;
    }

    to {
        width: 155px;
        height: 210px;
    }
}

.card{
    height: 201px;
    width: 145px;
    background-repeat: no-repeat;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    border: 2px dotted green;
    background-size: cover;
}

.card-back{
    height: 201px;
    width: 145px;
    background-image: url("/res/img/leatherpattern.jpg");
    background-repeat: no-repeat;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    background-size: cover;
}

.card-back .card-back-inner{
    border-radius: 304px / 875px;
    background-color: orange;
    height: 180px;
    margin-top: 9px;
    margin-left: 6px;
    width: 130px;
}

.card-back .card-back-title{
    margin-top: -143px;
    margin-left: 25px;
    font-family: 'MAGIC', serif;
    font-size: 28px;
}

.card-back .card-back-subtitle{
    margin-left: 35px;
    font-family: 'MAGIC', serif;
    font-size: 16px;
}

.card-selected{
    border-style: solid;
    animation-duration: 0.5s;
    animation-name: cardFlip;
    animation-iteration-count: 1;
    animation-direction: alternate;
}

.card-title{
    font-size: 12px;
    margin-top: 9px;
    margin-left: 15px;
}

.card-picture{
    width: 115px;
    height: 85px;
    margin-left: 13px;
    margin-top: -3px;
}

.card-text{
    font-size: 10px;
    margin-top: 3px;
    margin-left: 15px;
    max-width: 115px;
}

.card-type{
    font-size: 9px;
    margin-left: 16px;
    margin-top: -2px;
}

.card-ppt-badge{
    margin-left: 113px;
    font-size: 10px;
    margin-top: 11px;
}

.card-cost-badge{
    margin-left: 4px;
    font-size: 10px;
}

.card-cost-badge-fill{
    background-color: white;
    width: 15px;
    border-radius: 8px;
    float: right;
    margin-right: 15px;
    margin-top: 10px;
    border: 1px inset blue;
}
.card-value-badge{
    float: right;
    margin-right: 20px;
    margin-top: -13px;
}