.player-hand{
    max-height: 207px;
    width: 100%;
}

.name-score-label{
    margin-right: 8%;
}

.player-resource-count-outer{
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    border: 1px inset blue;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8%;
    margin-left: 2%;
}

.player-resource-count-inner{
    text-align: center;
    font-size: 17px;
}

.player-hand-frame{
    height: 207px;
    overflow-x: scroll;
    max-width: 100%;
    margin-bottom: 50px;
}

.player-resources{
    height: 207px;
    border: 2px solid green;
    border-radius: 8px;
    margin-bottom: 1%;
    background-color: rgba(255, 228, 196, 0.39);
}

.player-stories{
    height: 207px;
    border: 2px solid cornflowerblue;
    border-radius: 8px;
    background-color: rgba(255, 228, 196, 0.39);
}

.enemy-stories{
    margin-top: 50px;
    height: 207px;
    border: 2px solid cornflowerblue;
    border-radius: 8px;
    margin-bottom: 1%;
    background-color: rgba(255, 228, 196, 0.39);
}

.enemy-resources{
    height: 207px;
    border: 2px solid green;
    border-radius: 8px;
    margin-bottom: 1%;
    background-color: rgba(255, 228, 196, 0.39);
}

.score-right{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    width: 80%;
    background-color: rgba(255, 228, 196, 0.66);
    border: 1px solid;
    border-radius: 3px;
    padding: 5px;
    padding-left: 3%;
    font-family: 'MAGIC', serif;
    font-size: 24px;
}

.card-stacks{
    display: inline-block;
}

.resources-label{
    font-family: 'MAGIC', serif;
    font-size: 42px;
    opacity: 0.5;
    color: green;
    margin-top: 5%;
    margin-right: 43%;
    float: right;
}

.story-label{
    font-family: 'MAGIC', serif;
    font-size: 42px;
    opacity: 0.5;
    color: cornflowerblue;
    margin-right: 45%;
    margin-top: 5%;
    float: right;
}

.you-label{
    font-family: 'MAGIC', serif;
    text-shadow: 0 0 8px orange;
    font-size: 36px;
    transform: rotate(-90deg);
    float: left;
    margin-left: -45px;
    margin-top: 185px;
    color: white;
}

.enemy-label{
    font-family: 'MAGIC', serif;
    text-shadow: 0 0 8px orange;
    font-size: 36px;
    transform: rotate(-90deg);
    float: left;
    margin-left: -75px;
    margin-top: 186px;
    color: white;
}

.drawn-transition{
    animation-duration: 0.5s;
    animation-name: cardFlip;
    animation-iteration-count: 1;
    animation-direction: alternate;
}

@keyframes victoryPop {
    from {
        transform: rotateX(180deg);
    }

    to {
        transform: rotateX(0deg);
    }
}

.victory{
    animation-duration: 1s;
    animation-name: victoryPop;
    animation-iteration-count: 2;
    animation-direction: alternate;
}