@font-face {
    font-family: 'MAGIC';
    src: url('/src/fonts/MAGIC.ttf') format('truetype');
}
@font-face {
    font-family: 'mtg';
    src: url('/src/fonts/Mplantin.ttf') format('truetype');
}

html {
    background: url('../res/img/background2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
}
html body {
    min-height: 100%;
    cursor: url('../res/img/wand.png'), auto;
}

button {
    background-image: url('../res/img/background2.jpg');
    text-shadow: 0px -2px 2px orange;
    margin: 5px;
    border: 1px solid black;
    color: bisque;
    font-family: 'MAGIC', serif;
    font-size: 20px;
}

.button-disabled{
    color: dimgray;
}

div{
    font-family: 'mtg', serif;
}

h3{
    font-family: 'MAGIC', serif;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    color: black;
    text-shadow: 0 0 18px orange;
    text-align: center;
}

.jumbotron{
    background-image: url('../res/img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 25px;
    padding-bottom: 25px;
}

.container-fluid{
    padding-right: 4%;
    padding-left: 4%;
}

.help-question{
    float: right;
    font-size: 25px;
    font-family: 'MAGIC', serif;
    background-color: rgba(255, 228, 196, 0.87);
    border-radius: 15px;
    width: 30px;
    text-align: center;
    border: 1px solid black;
    margin: 5px;
    padding-top:3px;
}